<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lazy Zebra</title>
  <style>
  </style>
</head>

<body >
  {% include "navbar.html" %}
  <div class="container py-4 mt-5">
  <div class="container position-relative p-4 p-lg-5 mb-5 colorEEEEEE">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1 class="display-5">What we do</h1>
          <span class = "lead">At LazyZebra, we provide data that is precise, solutions that are affordable, tailored to support small businesses and investors to make the best data-driven decisions. 
            We’re always forward-facing, searching for new ways to simplify your data intelligence so that everyone in your organization understands its full potential and gets more out of the data you have.</span>
            <p><a class="btn transparent-btn btn-lg my-5" href="{{url_for('service')}}">Services</a></p>
          </div>
      </div>
    </div>
  </div>

  <h2 class="pb-2 border-bottom"></h2>


  <div class="row justify-content-center align-items-center py-5 colorEEEEEE"> 
    <h1 class="display-5">Who are we</h1>
   
<div class="row mt-4">

    <div class="col-lg-6">
      <img class="bd-placeholder-img rounded-circle mb-2" width="280" height="280" src = "static\roundpuppy.png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
      <h2 class="fw-normal lead">Dr. K.Geyer</h2>
      <p class = "paragragh">Cofounder & Head of Technology</p>
      <p><a class="btn transparent-btn btn-lg" href="#">LinkedIn »</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-6">
      <img class="bd-placeholder-img rounded-circle mb-2" width="280" height="280" src = "static\vickyprofile.png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
      <h2 class="fw-normal lead">V. Huang</h2>
      <p class = "paragragh">Cofounder & Senior Data Analyst</p>
      <p><a class="btn transparent-btn btn-lg" href="#">LinkedIn »</a></p>
    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->
  
  </div>
</div>  
</body>