<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container py-4 mt-5">
        <form action="/contact" method="post">
          <h1 class="h3 mb-4 fw-normal text-left colorEEEEEE" >Get in Touch</h1>
      
          <!-- Name Field -->
          <div class="form-floating mb-4">
            <input type="text" class="form-control" id="name" placeholder="Your Name" name="fullname" required >
            <label for="name" class="h5 color476072" style="background-color: transparent;">Name</label>
          </div>
      
          <!-- Email Field -->
          <div class="form-floating mb-4">
            <input type="email" class="form-control" id="email" placeholder="Your Email" name="email" required>
            <label for="email" class="h5 color476072">Email</label>
          </div>
      
          <!-- Message Field -->
          <div class="form-floating mb-4">
            <textarea class="form-control" id="message" placeholder="Your Message" name="message" rows="5" required></textarea>
            <label for="message" class="h5 color476072">Message</label>
          </div>
      
          <!-- Submit Button -->
          <div class="d-flex justify-content-end">
          <button type="submit" class="btn transparent-btn btn-lg">Submit</button>
        </div>
        </form>
      </div>
      
</body>
</html>