<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lazy Zebra</title>
  <style>
  </style>
</head>

<body >
  {% include "navbar.html" %}
  <div class="container py-4 mt-5">
    <div class="container position-relative p-4 p-lg-5 mb-5 colorEEEEEE">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Services</h1>
        <p class="fs-5 lead">We provides tailored data services broadly devide into three categories: data mining, web scraping, data solutions, data analysis.</p>
    </div>
    </div>


<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 color548CA8-bg colorEEEEEE">
          <h4 class="my-0 fw-normal">Web scrapping</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">from</small> £26<small class="text-body-secondary fw-light"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Beat anti</li>
            <li>Real Estate Data</li>
            <li>Population Census Data</li>
            <li>Will overcome Captcha &</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 color548CA8-bg colorEEEEEE" >
          <h4 class="my-0 fw-normal">Data Analysis</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">from</small> £15<small class="text-body-secondary fw-light"> /hr</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Power BI Dashboard building</li>
            <li>Ms Excel Reporting</li>
            <li>Stastical Tests</li>
            <li>Precdictive Analysis</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 color548CA8-bg colorEEEEEE">
          <h4 class="my-0 fw-normal">Data Warehousing</h4>
        </div>
        <div class="card-body">
        <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">from</small> £20<small class="text-body-secondary fw-light"> /hr</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Azure</li>
            <li>Data Bricks</li>
            <li>Data Factory</li>
            <li>SMSS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

</body >